@charset "UTF-8";
/*
 *测评列表公用样式
 * 
 * */
/* line 7, ../../../sass/components/cp_list.scss */
.Listevaluation {
  margin: 0px 20px 20px;
  padding-bottom: 1px;
  background: #fff;
  border-radius: 5px;
}
/* line 15, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr .pl20 {
  padding-left: 20px;
}
/* line 18, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr .pr20 {
  padding-right: 20px;
}
/* line 21, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td {
  border-color: #f2f2f2;
  padding: 0px;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  padding: 0px 10px;
}
/* line 28, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td i {
  margin-right: 5px;
}
/* line 32, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .progress {
  position: relative;
  margin-top: 16px;
  margin-bottom: 0px;
  height: 18px;
  line-height: 18px;
}
/* line 38, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .progress .progress-bar {
  background: #12ADFF;
  line-height: 18px;
}
/* line 45, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td.setBtn {
  width: 210px;
  padding-right: 20px;
  text-align: center;
}
/* line 49, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td.setBtn .inbox {
  display: none;
}
/* line 55, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td.icon_mt .icon-a {
  margin-top: 9px;
}
/* line 58, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td.icon_mt .down_div {
  top: 39px !important;
}
/* line 63, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .btn-down {
  margin-top: 9px;
}
/* line 66, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .down_public {
  position: relative;
  padding-top: 0px;
  float: right;
}
/* line 70, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .down_public .down_div {
  position: absolute;
  display: none;
  top: 30px;
  left: -24px;
  width: 70px;
  z-index: 2;
  border-radius: 3px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #ade3ff;
}
/* line 81, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .down_public .down_div a {
  display: block;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
/* line 86, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .down_public .down_div a:hover {
  background: #F4FBFF;
}
/* line 92, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a {
  float: right;
  display: block;
  margin-left: 5px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
}
/* line 100, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a a {
  display: block;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #7a7676;
  background: #cecece;
}
/* line 108, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a a:hover {
  background: #c5c5c5;
}
/* line 111, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a a i {
  padding-top: 8px;
  margin: 0px;
  font-size: 14px;
}
/* line 119, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a.mt0 {
  margin-top: 0px;
}
/* line 123, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a .look-cp {
  color: #fff;
  background: #47c2fe;
}
/* line 126, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a .look-cp:hover {
  background: #41b7f1;
}
/* line 130, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a .disable-look-cp {
  color: #fff;
  background: #e4444e;
}
/* line 133, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a .disable-look-cp:hover {
  background: #d73c46;
}
/* line 138, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a .remove-bmk {
  background: #fd8ba1;
  color: #fff;
}
/* line 141, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a .remove-bmk:hover {
  background: #ff7791;
}
/* line 145, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a .set-info {
  background: #43dabd;
  color: #fff;
}
/* line 148, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a .set-info:hover {
  background: #3dcaaf;
}
/* line 152, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a .again-text {
  background: #fcbb5f;
  color: #fff;
}
/* line 155, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a .again-text:hover {
  background: #f0ad4e;
}
/* line 159, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a .addstaff {
  background: #e45151;
  color: #fff;
}
/* line 162, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a .addstaff:hover {
  background: #de4b4b;
}
/* line 166, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a .more-a {
  background: #7B8AA8;
  color: #fff;
}
/* line 169, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a .more-a:hover {
  background: #7B8AA8;
}
/* line 173, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a .jl-upload {
  background: #00C292;
  color: #fff;
}
/* line 176, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a .jl-upload:hover {
  background: #02AA80;
}
/* line 180, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a .jl-download {
  background: none;
}
/* line 182, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .icon-a .jl-download:hover {
  background: none;
}
/* line 191, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .boy, .Listevaluation .table tr td .girl {
  margin-left: 5px;
  font-size: 10px;
}
/* line 195, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .boy {
    background-image:url("../images/boy.png");
	background-repeat:no-repeat;
	background-size:12px;
}
/* line 198, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .girl {
  background-image:url("../images/girl.png");
  background-repeat:no-repeat;
  background-size:13px;
}
/* line 203, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td.log-state {
  text-align: center;
}
/* line 205, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td.log-state.text-left {
  text-align: left;
}
/* line 208, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td.log-state .bg {
  background: url(../../images/xk.png) no-repeat 0px 0px;
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 5px;
}
/* line 216, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td.log-state .active {
  background-position: 0px -45px;
}
/* line 219, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td.log-state .dn {
  display: none;
}
/* line 222, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td.log-state i {
  position: relative;
  top: 3px;
  left: 0px;
}
/* line 227, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td.log-state .fa-toggle-off {
  color: #c5c3c3;
  font-size: 24px;
}
/* line 231, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td.log-state .fa-toggle-on {
  color: #41B7F1;
  font-size: 24px;
}
/* line 240, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .model-list {
  margin: 0px;
  font-size: 12px;
  padding: 10px 0px 5px;
  overflow: hidden;
}
/* line 245, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .model-list dd {
  float: left;
  margin: 0px 5px 5px 0px;
}
/* line 248, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .model-list dd .set, .Listevaluation .table tr td .model-list dd .remove, .Listevaluation .table tr td .model-list dd .add {
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  background: #fff;
  color: #7a7676;
}
/* line 256, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .model-list dd .set:hover, .Listevaluation .table tr td .model-list dd .remove:hover, .Listevaluation .table tr td .model-list dd .add:hover {
  color: #019AEC;
}
/* line 260, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .model-list dd .set {
  padding: 0px 8px;
  border-radius: 3px 0px 0px 3px;
}
/* line 264, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .model-list dd .remove {
  padding: 0px 5px;
  border-radius: 0px 3px 3px 0px;
  border-left: 0px;
}
/* line 268, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .model-list dd .remove i {
  margin: 0px;
  padding-top: 8px;
}
/* line 273, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .model-list dd .add {
  padding: 0px 10px;
  border-radius: 3px;
}
/* line 276, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .model-list dd .add i {
  margin: 0px;
  padding-top: 8px;
}
/* line 284, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .public-btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  background: #fff;
  color: #7a7676;
  padding: 0px 10px;
  border-radius: 3px;
}
/* line 293, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .public-btn:hover {
  color: #019AEC;
}
/* line 296, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td .public-btn i {
  margin: 0px;
  padding-top: 8px;
}
/* line 302, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr td.starmt0 .star {
  margin-top: 0px;
}
/* line 308, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr .star {
  float: left;
  display: block;
  margin-top: 18px;
  width: 18px;
  height: 18px;
}
/* line 315, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr .star-on {
  background: url("../../images/star-on-big.png") no-repeat;
}
/* line 318, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr .star-off {
  background: url("../../images/star-off-big.png") no-repeat;
}
/* line 321, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr .star-half {
  background: url("../../images/star-half-big.png") no-repeat;
}
/* line 325, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr .w200 {
  width: 200px;
}
/* line 328, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr .w150 {
  width: 150px !important;
}
/* line 331, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr .w250 {
  width: 250px !important;
}
/* line 334, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr .w300 {
  width: 300px !important;
}
/* line 337, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr .f14 {
  font-size: 14px;
}
/* line 340, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr.moreLog {
  background: #eaf7ff;
}
/* line 342, ../../../sass/components/cp_list.scss */
.Listevaluation .table tr.moreLog td {
  padding: 10px 20px;
  line-height: 30px;
}
/* line 351, ../../../sass/components/cp_list.scss */
.Listevaluation .table tbody tr:hover {
  background: #edf8ff;
}
/* line 354, ../../../sass/components/cp_list.scss */
.Listevaluation .table tbody tr:hover .setBtn .inbox {
  display: block;
}
/* line 369, ../../../sass/components/cp_list.scss */
.Listevaluation.h_auto .table tbody tr td {
  height: auto;
  vertical-align: middle;
}

/* line 381, ../../../sass/components/cp_list.scss */
.archives-cp-list {
  width: 750px;
}
/* line 387, ../../../sass/components/cp_list.scss */
.archives-cp-list .Listevaluation .table tr td.setBtn {
  width: 150px;
  padding-right: 30px;
}
